* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  background-color: rgba(80, 82, 226, 1);
  margin: 0 auto;
}

.headpart {
  Height: 80px;
}

.header1 {
  font-size: 27px;
  color: rgba(255, 255, 255, 1);
  margin: 27px 0px 0px 24px;
  float: left;
}

.menu {
  width: 24px;
  height: 24px;
  margin: 28px 0px 0px 24px;
  float: left;
}

.box {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 1);
  float: left;
}

.box2 {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 1);
  float: left;
  margin-left: 3px;
}

.box3 {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 1);
  float: left;
  margin-top: 3px;
}

.box4 {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 1);
  float: left;
  margin: 3px 0px 0px 3px;
}

.box5 {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 1);
  float: left;
  margin-top: 3px;
}

.box6 {
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 1);
  float: left;
  margin: 3px 0px 0px 3px;
}

.username {
  color: rgba(255, 255, 255, 1);
  font-size: 18px;
  margin: 29px 28px 0px 0px;
  float: right;
}

.img1 {
  background-image: url(Image.png);
  width: 35px;
  height: 35px;
  border-radius: 20px;
  margin: 23px 10px 0px 0px;
  float: right;
}

.centerdiv {
  text-align: center;
}

.header2 {
  color: rgba(255, 255, 255, 1);
  font-size: 72px;
  margin-top: 95px;
  letter-spacing: -4px;
}

.text1 {
  color: rgba(255, 255, 255, 1);
  font-size: 22px;
  margin-top: -33px;
  letter-spacing: -0.2px;
  mix-blend-mode: normal;
  opacity: 0.8;
}

.containers {
  height: 260px;
  width: 1140px;
  margin: 60px auto 0px auto;
}

.container1 {
  width: 360px;
  height: 260px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  float: left;
}

.userpic1 {
  width: 50px;
  height: 50px;
  margin: 30px 0px 0px 30px;
  background-image: url(Image1.png);
  border-radius: 25px;
}

.username1 {
  font-size: 14px;
  margin: 38px 0px 0px 12px;
  letter-spacing: 2px;
}

.userid {
  font-size: 14px;
  margin: 59px 0px 0px -82px;
  color: rgba(155, 155, 155, 1);
}

.usertext1 {
  font-size: 18px;
  margin: 0px 30px;
}

.M {
  color: rgba(44, 153, 237, 1);
}

.date1 {
  color: rgba(155, 155, 155, 1);
  font-size: 16px;
  margin: 20px 0px 0px 30px;
}

.container2 {
  width: 360px;
  height: 260px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  float: left;
  margin-left: 30px;
}

.userpic2 {
  width: 50px;
  height: 50px;
  margin: 30px 0px 0px 30px;
  background-image: url(Image2.png);
  border-radius: 25px;
}

.username2 {
  font-size: 14px;
  margin: 38px 0px 0px 12px;
  letter-spacing: 2px;
}

.userid2 {
  font-size: 14px;
  margin: 59px 0px 0px -89px;
  color: rgba(155, 155, 155, 1);
}

.usertext2 {
  font-size: 18px;
  margin: 0px 30px;
}

.date2 {
  color: rgba(155, 155, 155, 1);
  font-size: 16px;
  margin: 25px 0px 0px 30px;
}

.container3 {
  width: 360px;
  height: 260px;
  background: rgba(255, 255, 255, 1);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  float: right;
}

.userpic3 {
  width: 50px;
  height: 50px;
  margin: 30px 0px 0px 30px;
  background-image: url(Image3.png);
  border-radius: 25px;
}

.username3 {
  font-size: 14px;
  margin: 38px 0px 0px 12px;
  letter-spacing: 2px;
}

.userid3 {
  font-size: 14px;
  margin: 59px 0px 0px -129px;
  color: rgba(155, 155, 155, 1);
}

.usertext3 {
  font-size: 18px;
  margin: 0px 30px;
}

.date3 {
  color: rgba(155, 155, 155, 1);
  font-size: 16px;
  margin: 27px 0px 0px 30px;
}

.comp {
  display: flex;
  margin-top: 40px;
}

.companies {
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  margin-left: 810px;
  mix-blend-mode: normal; 
  opacity: 0.8;
}

.partofus {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  margin: 16px 0px 0px 20px;
}

.icon {
  width: 6px;
  height: 9px;
  background-image: url(Icon.png);
  margin: 21px 0px 0px 14px;
}

.navigation {
  margin-top: 180px;
}

.rights {
  margin: auto 0px auto 45px;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  float: left;
}

.button1 {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 2px;
  margin: auto 0px auto 440px;
  float: left;
}

.button2 {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 2px;
  margin: auto 0px auto 31px;
  float: left;
}

.button3 {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 2px;
  margin: 4px 0px auto 33px;
  float: left;
}

.button4 {
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 2px;
  margin: auto 0px auto 34px;
  float: left;
}

.social {
  height: 17px;
  padding-top: 2px;
  float: right;
  margin-right: 60px;
}

.twt {
  width: 17px;
  height: 14px;
}

.fcb {
  width: 8px;
  height: 17px;
  margin-left: 18px;
}

.yt {
  width: 20px;
  height: 14px;
  margin-left: 20px;
}

/*  :)     */
